<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Saeed Rahaman</title>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href='favicon.ico'>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

        <link rel="stylesheet" href='/static/index.css'>
        <script type="text/javascript" src="/static/index.js"></script>

   </head>


   <body class="home">    

        <div id="bg" class="container">
            <div class="header">
                <h2 class="name">Saeed Rahaman</h2>

                <input type="checkbox" id="chk">
                <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
                </label>

                <nav class="menu" id="menu">
                    <a href="" id="main" class="active">Home</a>
                    <a href="" id="me">About</a>
                    <a href="" id="proj">Projects</a>
                    <a href="" id="res">Resume</a>
                    <a href="" id="talk">Contact</a>
                    <label for="chk" class="hide-menu-btn">
                        <i class="fas fa-times"></i>
                    </label>
                </nav> 
            </div>

            <div class="splash" id="home">
                <div class="splash-content">

                    <img src="/static/pictures/me.PNG" height="350px" width="350px">

                    <div class="tagline">
                        <p class="introduction">I'm a Masters student studying computer engineering and looking to design AI solutions to improve people's lives.</p>
                    </div>

                    <div class="scrollDown">
                        <h2>Scroll Down!!!</h2>
                    </div>
                   
                </div>

            </div>

            <div class="about" id="about">
                <div class="info">
                    <h1>About <br>Me</h1>
                    
                    <p>
                        My name is Saeed Rahaman and I am an aspiring Computer Engineer. I am a recent graduate from the University of Central Florida in Orlando, Florida for my masters in Computer Engineering with an interest in artificial intelligence within the automotive and medical industries.
                    </p>
                    
                    <p>
                        I am passionate about programming and developing simple and elegant solutions to solve large scale problems. I believe that artificial intelligence can revolutionize the world in a variety of areas. AI can be used to create self-driving cars to improve traffic congestion and reduce automotive deaths. AI can also be utilized to provide better healthcare to ill patients. My goal is to help develop these types of systems that can improve the daily lives of people. 
                    </p>

                    <p>
                        My other hobbies include building PCs and restoring and modifying cars. I've taken apart and completely rebuilt a 1988 Pontiac Fiero. I also enjoy modifying my 2020 Honda Civic Si. Taking apart machines and analyzing how each part works allows me to understand concepts easier and it's interesting to see how different systems are designed. 
                    </p>
                </div>
            </div>

            <div class="projects" id="projects">

                <h1 class="section-title">Projects</h1>

                <div class="project-content">
                    <div class="project-card">
                        <h1><a href="https://github.com/Namahar/discord_bot">Discord Bot</a></h1>
                        <div class="preview" id="discord"></div>
                        <p>A bot made for personal discord server to play music</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="https://github.com/Namahar/tictactoe">Tic Tac Toe</a></h1>
                        <div class="preview" id="tictactoe"></div>
                        <p>Tic Tac Toe in Python GUI</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="https://github.com/Namahar/senior_design_project">Senior Design Chess</a></h1>
                        <div class="preview" id="chess"></div>
                        <p>A chess board was designed and developed to teach and play chess</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="/matrix">Enter the Matrix</a></h1>
                        <div class="preview" id="matrix"></div>
                        <p>Matrix in the browser</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="/transcribe">Transcribe Audio</a></h1>
                        <div class="preview" id="transcribe"></div>
                        <p>An audio-to-text application for transcribing podcasts and videos</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="https://github.com/Namahar/telegram_bot">Telegram Bot</a></h1>
                        <div class="preview" id="telegram"></div>
                        <p>A bot made for personal group chat that uses a neural network to learn to reply</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="https://github.com/Namahar/Facial-Recognition">Face Detection</a></h1>
                        <div class="preview" id="face-detection"></div>
                        <p>Facial recognition software using FaceNet neural network and webcam</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="/youtube-dl">Youtube to MP3</a></h1>
                        <div class="preview" id="youtube-dl"></div>
                        <p>Convert Youtube videos to MP3 files</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="computer-vision">Computer Vision Techniques</a></h1>
                        <div class="preview" id="computer-vision"></div>
                        <p>Edge detection and image segmentation on images</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="/sudoku">Sudoku Solver</a></h1>
                        <div class="preview" id="sudoku"></div>
                        <p>Visualize sudoku solving using backtracking</p>
                    </div>
        
                    <div class="project-card">
                        <h1><a href="/shortest_route">Shortest Route</a></h1>
                        <div class="preview" id="shortest_route"></div>
                        <p>Comparison of Different Algorithms to find the Shortest Route</p>
                    </div>

                    <div class="project-card">
                        <h1><a href="/summarize">NLP Summarization</a></h1>
                        <div class="preview" id="summarize"></div>
                        <p>Use extractive and abstractive NLP techniques for summarization</p>
                    </div>

                </div>
     
            </div>

            <div class="resume" id="resume">
                <div class="page">
                    <div class="resume-header">
                        <p>Saeed Rahaman<br>Phone: 321-525-0962<br>Email: srahaman@knights.ucf.edu</p>
                    </div>
    
                    <div class="resume-education">
                        <h3 class="resume-section">Education</h3>
                        <ul class="no-bullet">
                            <li class="edu-list">
                                <h4 class="heading-label"><i>Bachelor of Science,</i> University of Central Florida</h4>
                                <h4 class="heading-label time">December 2018</h4>
                                <ul>
                                    <li>Graduated from University of Central Florida with a Bachelor of Science in Electrical Engineering.</li>
                                    <li>Gained experience giving lectures and presentations in front of committees.</li>
                                    <li>Developed teamwork and leadership skills throughout multiple class projects.</li>
                                    <li>Experience working in a lab environment.</li>
                                </ul>
                            </li>
    
                            <li class="edu-list">
                                <h4 class="heading-label"><i>Master of Science,</i> University of Central Florida</h4>
                                <h4 class="heading-label time">January 2019 - December 2021</h4>
                                <ul>
                                    <li>Recently graduated with a master's degree in Computer Engineering focusing on artificial intelligence.</li>
                                    <li>Studied machine learning, natural language processing, and computer vision techniques and applications.</li>
                                    <li>Gained experience with machine learning libraries such as TensorFlow, PyTorch, NumPy, and Pandas.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
    
                    <div class="resume-projects">
                        <h3 class="resume-section">Major Projects</h3>
                        <ul>
                            <!-- didn't give this project a class because padding conflicts with h3 padding  -->
                            <li class="project-title">Interactive Chess Trainer</li>
                            <ul>
                                <li>Smart chess board for senior design degree requirement project.</li>
                                <ul>
                                    <li>Lead a group to research, design, develop, and build a smart chess board.</li>
                                    <li>Responsible for researching hardware components and developing multiple design strategies.</li>
                                    <li>Built a working PCB microcontroller from design strategy using EasyEDA.</li>
                                    <li>Developed basic AI software to allow interactive playing experience.</li>
    
                                </ul>
                            </ul>
    
                            <li class="project-list">Facial Recognition Software</li>
                            <ul>
                                <li>Worked in a group to design a facial recognition software using a neural network.</li>
                                <ul>
                                    <li>Responsible for design strategies to accomplish objectives.</li>
                                    <li>Designed a custom neural network and trained the model on several datasets.</li>
                                    <li>Achieved 88% accuracy at detecting faces in camera view.</li>
                                </ul>
                            </ul>
    
                            <li class="project-list">Drug Resistance in Tuberculosis</li>
                            <ul>
                                <li>Worked on project to predict drug resistance in Tuberculosis.</li>
                                <ul>
                                    <li>Researched and implemented various machine learning techniques.</li>
                                    <li>Gathered and preprocessed gigabytes of data for training and testing.</li>
                                    <li>Utilized feature engineering techniques to classify data by mutatations.</li>
                                    <li>85% accuracy in predicting whether a strain of Tuberculosis was drug resistant.</li>
                                </ul>
                            </ul>
    
                            <li class="project-list">Predict MiRNA-Disease Associations</li>
                            <ul>
                                <li>Used several neural networks to predict if miRNA mutatations led to a disease.</li>
                                <ul>
                                    <li>Collected and compiled data from several databases into graph data structures.</li>
                                    <li>Designed auto-encoders for data extraction.</li>
                                    <li>Designed CNN to take miRNA mutations and output disease relationships.</li>
                                    <li>Scored 4% higher than several state-of-the-art models.</li>
                                </ul>
                            </ul>
                        </ul>
                    </div> 
                    <!-- end of resume-projects section  -->

                    <div class="resume-work">
                        <h3 class="resume-section">Relevant Experience</h3>
                        <ul class="no-bullet">
                            <li class="work-list">
                                <h4 class="heading-label">Freelance Tutor</h4>
                                <h4 class="heading-label time">2016-2022</h4>
                                <ul>
                                    <li>Helped students improve their understanding of concepts in math, chemistry, and computer science.</li>
                                    <li>Increased students' performance by 1-2 letter grade(s).</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
    
                    <div class="resume-skill">
                        <h3 class="resume-section">Skills</h3>
                        <ul class="skill-list">
                            <li>Proficient in Python, C, JavaScript, and Matlab</li>
                            <li>Experience working in a Linux environment</li>
                        </ul>
                        <ul class="skill-list">
                            <li>Experience with data mining and feature</li>
                            <li>Programming experience on microcontrollers</li>
                        </ul>
                    </div>
                </div>
                <!-- end of resume div  -->

                <form id="form" class="cv-form" action="/download_resume" method="POST">                   
                    <input class="download-cv" id="submit" type="submit" value="Download Resume">
                 </form>
            </div>
            <!-- end of resume container div  -->

            <div class="contact" id="contact">
                <div class="info">
                    <div class="inner-width">
                        <h1 class="email-title">Send an Email</h1>
                        <input type="text" class="input-name" placeholder="Your Name">
                        <input type="email" class="input-email" placeholder="Your Email">
                        <textarea rows="5" class="input-message" placeholder="Message"></textarea>
                        <button id="send" class="email-button" type="submit">Send</button>
        
                        <h2 id="alert" class="sent">Message Sent!</h2>
                        <h2 id="error" class="sent">Error Sending Message! Backend Issue!</h2>
                        <h2 id="name" class="sent">Please Enter a name</h2>
                        <h2 id="email" class="sent">Please Enter a Valid Email Address</h2>
                        <h2 id="message" class="sent">Please Enter a Message</h2>
                    </div>
                </div>
            </div>


        </div>
      
   </body>
</html>